body {
    margin: 0;
    font-size: medium;
    background-color: rgb(128, 128, 128);
}

nav {
    padding: 15px;
    background-color: white;
}

nav a {
    margin-right: 15px;
}

form, .container {
    width: 300px;
    margin: 30px auto;
    text-align: justify;
}

input, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.container {
    background-color: white;
    padding: 15px;
}
;